@model salesProject.Models.OrderSearchArg
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>訂單查詢</h2>
@using (Html.BeginForm("Index", "Order", FormMethod.Post, new { id = "Form1" }))
{
    <div id="SearchConditionSection">
        <table class="table table-bordered">
            <tr>
                <td>客戶編號</td>
                <td>
                    @Html.TextBox("OrderID")

                </td>
            </tr>
            <tr>
                <td>客戶名稱</td>
                <td>
                    @Html.TextBox("CustName")
                </td>
            </tr>
            <tr>
                <td>負責員工</td>
                <td>
                    @Html.DropDownList("EmployeeID", (List<SelectListItem>)ViewBag.EmpCodeData, "請選擇員工")
                </td>
            </tr>
            <tr>
                <td>訂購日期</td>
                <td>
                    <input id="OrderDate" value="" title="datepicker" style="width: 100%" />
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input class="btn btn-default" id="search" type="button" value="查詢" />
                    <input class="btn btn-default" type="button" value="清除" id="clear" />
                    <input class="btn btn-default" type="button" value="新增訂單" onclick="location.href='/Order/InsertOrder'">

                </td>

            </tr>
        </table>
    </div>
    if (TempData["ok"] != null)
    {
        <div id="MssageBox" class="alert alert-success">
            <i class="fa fa-info-circle pull-left fa-2x"></i>@TempData["ok"]
        </div>
    }
    <div id="SearchResultSection">
        <div id="grid"></div>
    </div>
}

<script type="text/javascript">
    $(function () {
        var columns = [
            {
                field: "OrderId",
                title: "訂單編號"
            },
            {
                field: "CustName",
                title: "客戶姓名"
            },
            {
                field: "Orderdate",
                title: "訂購日期",
                format: "{0:MM/dd/yyyy}"
            },
            {
                field: "ShippedDate",
                title: "出貨日期",
                format: "{0:MM/dd/yyyy}"
            },
            {
                command:
                [{
                    text: "Delete",
                    click: deleteOrder
                },
                {
                    text: "Edit",
                    click: updateOrder
                }],
                title: " ",
                width: "180px"
            },
            {
                field: "OrderId",
                title: "訂單編號",
                hidden: true
            }];

        //初始化grid
        var g = $("#grid").kendoGrid({
            dataSource: {
                pageSize: 20
            },
            height: 550,
            groupable: true,
            sortable: true,
            schema: {
                model: {
                    fields: {
                        OrderId: { type: "string" },
                        CustName: { type: "string" },
                        Orderdate: { type: "date" },
                        ShippedDate: { type: "date" },
                    }
                }
            },
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: columns
        }).data("kendoGrid");

        $(".btn-default").kendoButton();
        $(".btnDelete").kendoButton();
        $("#OrderDate").kendoDatePicker();
        $("#EmployeeID").kendoDropDownList();
        $('#OrderID').kendoMaskedTextBox();
        $('#CustName').kendoMaskedTextBox();

        $("#clear").click(function () {
            $('#OrderID').val('');
            $('#CustName').val('');
            $('#EmployeeID').val('');
            $('#OrderDate').val('');
            g.dataSource.data([]);
        });

        $("#search").click(function () {
            var sdata = {
                "arg.OrderId": $('#OrderID').val(),
                "arg.CustName": $('#CustName').val(),
                "arg.EmployeeID": $('#EmployeeID').val(),
                "arg.OrderDate": $('#OrderDate').val(),
            }
            console.log(sdata)
           
            $.ajax({
                type: "POST",
                url: "/Order/Order",
                data: sdata,
                dataType: "json",
                success: function (response) {
                    g.dataSource.data(response);
                    g.dataSource.sync();
                }
            });
            
        })

        function deleteOrder(e) {
            var r = confirm("你確定要刪除嗎?");
            if (r == true) {
                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                console.log(dataItem)
                $.ajax({
                    type: "POST",
                    url: "/Order/DeleteOrder",
                    data: "orderId=" + dataItem.OrderId,
                    dataType: "json",
                    success: function (response) {
                        var order = g.dataSource;
                        order.remove(dataItem);
                        order.sync();
                    }
                });
            } else {
                return false;
            }
        };

        function updateOrder(e) {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            window.location.href = '/Order/UpdateOrder/' + dataItem.OrderId;
        }
    });
</script>